
app/app.log

app/__pycache__/

.idea/

app/user_data.json

app/courses_data.json

*.log

app/courses_data/

app/scrapers/__pycache__/

app/scrapers/requests_scraper/__pycache__/

app/captcha_solver/__pycache__/

app/assets/__pycache__/

app/core/__pycache__/

app/data/backups/

app/ui/__pycache__/

app/scrapers/selenium_scraper/__pycache__/

app/data/__pycache__/

app/data/courses_data/available_courses.json

app/data/courses_data/unavailable_courses.json

*.backup

app/data/user_data.json

app/output.txt

*.patch

app/data/user_added_courses.json
